#{extends 'main.html' /}

#{set 'localStyles'}
    <style>
        #content {
            margin: auto;
        }
        .information {
            width: 90%;
            margin: 0 auto;
        }
    </style>
#{/set}

<div class="information">
    <h1>RESOLVE Web Interface Expired Confirmation Link</h1>
    
    <p>Your confirmation link has expired. Please click 
       #{a @PasswordRecovery.index()}HERE#{/a} to generate a new confirmation link.</p>

    #{a @Interface.index()}Back to RESOLVE Web IDE#{/a}
    
    <br><br>
</div>