#{extends 'main.html' /}

#{set 'localStyles'}
    <style>
        #content {
            margin: auto;
        }
        .information {
            width: 90%;
            margin: 0 auto;
        }
    </style>
#{/set}

<div class="information">
    <h1>New user created successfully!</h1>

    <p>
        <strong>Login Username</strong>: ${email}
    </p>
    <p>
        <strong>First name</strong>: ${firstName}
    </p>
    <p>
        <strong>Last name</strong>: ${lastName}
    </p>

    #{a @Interface.index()}Back to RESOLVE Web IDE#{/a}
    
    <br><br>
</div>