#################
# Derived files #
#################

# stuff Play says to ignore
tmp/
modules/
lib/
test-result/
logs/

# Derived Java classes
*.class

####################
# IDE project info #
####################

# eclipse
.project
.classpath

# netbeans
nbproject/private/

# Ignore the ace sources for now
ace/