/*
 * These styles control the appearance of the simulated tabs for navigating between
 * open components in the editor
 */ 
 
#open_menu {
    width:1200px;
    height: 30px;
    float:left;;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    background-color: #E8E8E8;
}

.notSelectable{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

#scan_left {
    float: left;
    margin: 6px .2em 1px 4px;
}

#scan_right {
    float: right;
    margin: 6px .2em 1px 4px;
}

.scanButton {
    width: 20px;
    height: 20px;
    text-align: center;
    border: solid 1px gray;
    background-color: #E8E8E8;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    cursor: default;
}

.active {
    cursor: pointer;
    background-color: white;
}

#open_menu ul {
    padding: 0;
    margin: 0 30px 0 30px;
    list-style-type: none;
    position: absolute;
    line-height: 1.6;
}

#open_menu li {
    float: left;
    padding: 0 10px 0 10px;
    margin: 4px .2em 1px 0;
    top: -1px;
    display: block;
    text-decoration: none;
    border: 1px solid #AAA;
    position: relative;
    cursor: pointer;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc');
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
}

#open_menu .component_tab {
    border-bottom: none;
}

#open_menu .selected {
    top: 1px;
    filter: none;
    background: none;
    background-color: white;
    /*top: .05em;*/
}

#open_menu .hidden {
    width: 0px;
    display: none;
}

.closeLink{
    padding: 0 0 0 5px;
    /*position: absolute;
    top: 1px;
    right: 1px;
    height: 22px;
    width: 22px;
    cursor:pointer*/
}

.close_img{
    width:15px;
    height:15px;
    margin: 2px 0 0 5px;
}

.componentInfo{
    display: inline-block;
    width:15px;
    height:15px;
    margin-left: 2px;
}
