#{extends 'main.html' /}

#{set 'localStyles'}
    <style>
        #content {
            margin: auto;
        }
        .information {
            width: 90%;
            margin: 0 auto;
        }
    </style>
#{/set}

<div class="information">
    <h1>Account not authenticated</h1>

    <p> Your account has not yet been verified. </p>
    <p> Please check your email for the verification link (make sure to check the spam folder). 
        If you haven't received the email, please click this #{a @Confirmation.resendConfirmation(email)}Link#{/a} to resend the email. </p>

    #{a @Interface.index()}Back to RESOLVE Web IDE#{/a}
    
    <br><br>
</div>