<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>ui.frontend.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebCompiler</servlet-name>
        <servlet-class>ui.compiler.WebCompiler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebProver</servlet-name>
        <servlet-class>ui.compiler.WebProver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebCompiler</servlet-name>
        <url-pattern>/WebCompiler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebProver</servlet-name>
        <url-pattern>/WebProver</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
