/*
 * These styles control the dropdown menu for browsing components.
*/

.menu{
    width: max-content;
    background: #afaeff;
    
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: max-content;
    float: left;
    
}
/*.menu ul:hover {
    display: block;
}*/

.menu a, .menu h2 {
    font: bold 12px/16px arial, helvetica, sans-serif;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #888 #555 #bbb;
    margin: 0;
    padding: 3px 3px;
    width: 180px;
    text-decoration: none;
    color: black;
}

.menu h2, .menu, .sub_menu, .component_title{
    color: #fff;
    background-color: #02008d;
    width: max-content;

}

.menu li:not(.component_title) {
    color: #000;
    background: #c8c8ff;
    text-decoration: none;
    position: relative;
    width: max-content;
    /*display: inline-block;*/
}

.menu li:hover:not(.component_title) {
    color: #01004c;
    background: #fff1e1;
    cursor: pointer;
    border-color: #01004c;
   /* position: absolute; */
    /*display: inline-block;*/
}

.menu ul ul {
    position: absolute;
    z-index: 500;
    width: max-content;
}

.menu ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
}

.hidden{
    display: none;
}

.visable{
    display: block;
}

.component_title {
    cursor: default;
}

