/*
 * These styles control the dropdown menu for browsing components.
*/
#component-finder {
    display: none;
}

#finder-quickrow {
    width: 100%;
    height: 20px;
    padding-bottom: 4px;
    margin-bottom: 2px;
    border-bottom: solid gray 1px;
}

#finder-quickrow a, #finder-quickrow h2 {
    /*min-width: 125px;*/
    font: bold 12px/16px arial, helvetica, sans-serif;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #888 #555 #bbb;
    margin: 0;
    padding: 3px 3px;
    text-decoration: none;
    color: black;
}

#finder-quickrow li {
    color: #000;
    /*background: #c8c8ff;*/
    text-decoration: none;
    position: relative;
    /*border: solid gray 1px;*/
    /*display: inline-block;*/
}

/*#finder-quickrow li:hover:not(.component_title) {
    color: #01004c;
    background: #fff1e1;
    cursor: pointer;
    border-color: #01004c;
}*/

#finder {
    /*width: 700px;*/
    overflow: hidden;
    /*width: 100%;*/
    height: 100%;
    position: absolute;
    left: 0px;
    background-color: white;
}

#finder-container {
    position: relative;
    overflow-x: scroll;
    width: 680px;
    height: 280px;
    left: 0px;
}

#finder-panes {
    width: 1000px;
    height: 100%;
}

#finder-main {
    height: 100%;
}

.finder-cell {
    float: left;
    /*height: 100%;*/
    min-width: 125px;
    border: solid lightgray 1px;
    overflow-y: hidden;
}

.scrollable {
    height: 100%;
    overflow-y: scroll;
}

.non-scrollable {
    height: 100%;
}

.selected-component {
    color: #01004c;
    background: #fff1e1;
    cursor: pointer;
    border-color: #01004c;
}

#finder ul, #finder-quickrow ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    
}
/*.menu ul:hover {
    display: block;
}*/

#finder .dir {
    background: #CCFFCC;
    background-image: url("../images/submenu.png");
    background-repeat:no-repeat;
    background-position: right;
}

#finder a, #finder h2 {
    min-width: 125px;
    font: bold 12px/16px arial, helvetica, sans-serif;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #888 #555 #bbb;
    margin: 0;
    padding: 3px 10px;
    text-decoration: none;
    color: #000;
}

#finder a:hover {
    cursor: pointer;
    color: #01004c;
    background: #fff1e1;
}

/*#finder li:not(.component_title) {
    color: #000;
    background: #c8c8ff;
    text-decoration: none;
    position: relative;
}

#finder li:hover:not(.component_title) {
    color: #01004c;
    background: #fff1e1;
    cursor: pointer;
    border-color: #01004c;
}*/

#project_menu {
    /*background: #E8E8E8;*/
    float: left;
}

#project_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    
}
/*.menu ul:hover {
    display: block;
}*/

#project_menu a, #project_menu h2 {
    font: bold 12px/16px arial, helvetica, sans-serif;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #888 #555 #bbb;
    margin: 0;
    padding: 3px 3px;
    width: 180px;
    text-decoration: none;
    color: black;
}

/*#project_menu h2, #project_menu, .sub_menu, .component_title{
    color: #fff;
    background-color: #02008d;

}*/

#project_menu li:not(.component_title) {
    color: #000;
    background: #c8c8ff;
    text-decoration: none;
    position: relative;
    /*display: inline-block;*/
}

#project_menu li:hover:not(.component_title) {
    color: #01004c;
    background: #fff1e1;
    cursor: pointer;
    border-color: #01004c;
   /* position: absolute; */
    /*display: inline-block;*/
}

#project_menu ul {
    position: absolute;
    z-index: 500;
}

#component_menu {
    /*background: #E8E8E8;*/
    float: left;
    margin-left: 10px;
}

.menu_button {
    margin: 0;
}

/*.menu ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
}*/

.hidden{
    display: none;
}

.visable{
    display: block;
}

.component_title {
    cursor: default;
}

