/*
 * These styles control the appearance of the simulated tabs for navigating between
 * open components in the editor
 */ 
 
#open_menu {
    width:1000px;
    height: 30px;
    position: relative;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    background-color: #E8E8E8;
}

.notSelectable{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

#scan_left {
    left: 0px;
    /*float: left;*/
    margin: 6px .2em 1px 4px;
}

#scan_right {
    right: 22px;
    /*float: right;*/
    margin: 6px .2em 1px 4px;
}

#ocv_dropdown {
    right: 0px;
    /*float: right;*/
    margin: 6px .2em 1px 4px;
}

.scanButton {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    border: solid 1px gray;
    background-color: #E8E8E8;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    cursor: default;
}

.active {
    cursor: pointer;
    background-color: white;
}

#open_components {
    width: 920px;
    height: 31px;
    float: left;
    overflow: hidden;
    position: relative;
    position: absolute;
    left: 30px;
}

#open_component_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 1.6;
    position: absolute;
    white-space:nowrap;
}

#open_component_list li {
    width: 175px;
    padding: 0 0px 0 5px;
    margin: 4px .2em 1px 0;
    top: -1px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #AAA;
    position: relative;
    cursor: pointer;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc');
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
}

#open_component_list li a {
    width: 125px;
    float: left;
    overflow: hidden;
}

#open_component_list .component_tab {
    border-bottom: none;
}

#open_component_list .selected {
    top: 1px;
    filter: none;
    background: none;
    background-color: white;
    /*top: .05em;*/
}

#open_component_list .hidden {
    width: 0px;
    display: none;
}

#open_component_dropdown {
    top: 35px;
    right: 1px;
    width: 250px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 1.6;
    position: absolute;
    white-space:nowrap;
    z-index: 10;
}

#open_component_dropdown li {
    width: 250px;
    background-color: white;
    border: solid 1px gray;
}

#open_component_dropdown li:hover {
    color: #01004c;
    background: #fff1e1;
    cursor: pointer;
    border-color: #01004c;
   /* position: absolute; */
    /*display: inline-block;*/
}

#open_component_dropdown li:last-child {
    border: solid 1px gray;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}

.closeLink{
    padding: 0 0 0 5px;
    /*position: absolute;
    top: 1px;
    right: 1px;
    height: 22px;
    width: 22px;
    cursor:pointer*/
}

.close_img{
    width:18px;
    height:18px;
    margin: 2px 2px 2px 2px;
    /*float: right;*/
    position: absolute;
    right: 0px;
    background-image: url("../images/close.png");
    cursor: pointer;
}

.componentInfo{
    display: inline-block;
    width:15px;
    height:15px;
    margin: 2px 2px 0px 2px;
    position: absolute;
    right: 25px;
}

.vc_status {
    margin-top: 7px;
}
