/*
 * These styles control the editor and command bar
 */


#editor_container {
    position: relative;
    width:1000px;
    /*height:510px;*/
    height:100%;
    /*padding-top: 10px;*/
}

#control_bar {
    height:22px;
    width:1000px;
    padding: 6px 0px 4px 0px;
}

#code_editor {
    clear:left;
    width:1000px;
    /*height:474px;*/
    border-top: solid 1px #AAA;
    border-right: solid 1px #AAA;
    border-bottom: solid 1px #AAA;
    z-index: 25;
}

/*#editor_handle {
    width: 25px;
    height: 25px;
    margin-right: 6px;
    top: 238px;
    background-image: url("../images/l-r-arrow.png");
}*/

#control_bar .controls_commands{
    float: left;
}

#control_bar .controls_zoom{
    float: right;
}

#control_bar .command{
    margin-left: 2px;
    text-align: center;
    padding: 0px 5px;
    width: auto;
    height: 20px;
    float: left;
    border: solid 1px gray;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    font-size: 8pt;
}

#control_bat .active{
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

#control_bar .active:hover{
    color: #fff;
    background: #AAA;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#control_bar .java{
    float: left;
}

#control_bar .zoom{
    margin-left: 2px;
    text-align: center;
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    border: solid 1px gray;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    
}

#control_bar .plus{
    background-image: url("../images/plus.png")
}

#control_bar .minus{
    background-image: url("../images/minus.png")
}

.shadow {
    -moz-box-shadow:    1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow:         1px 1px 1px 1px #ccc;
}

#console-container {
    position: absolute;
    right: 20px;
    /*height: 600px;*/
    width: 400px;
    overflow: hidden;
    border-right: solid 1px gray;
}

#console-expander {
    width: 5px;
    /*height: 100%;*/
    z-index: 50;
}

#console-info {
    height: 100%;
    background-color: #E8E8E8;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 380px;
}

#editor-console {
    position: absolute;
    top: 0px;
    /*height: 100%;*/
    width: 400px;
    border: solid 1px gray;
    border-left: none;
    background: white;
    z-index: 50;
}

.console-visible {
    /*right: 0px;*/
}

.console-hidden {
    right: -385px;
}

/* VCs tooltip style (for Qtip plugin)*/
.ui-tooltip-VC{
    position: absolute;
    background-color:#ADD8E6;
    border-color:#000066;
    color:#000066;
    cursor: default;
    font-family:'Lucida Grande',sans-serif;
    font-size: 12px;
    margin: 0em;
    max-width: 600px;
    }
.ui-tooltip-VC .ui-tooltip-titlebar{
    background-color:#F5A07A;
    font-size:12px;
    font-family:'Lucida Grande',sans-serif;
    font-weight: normal;
    cursor: default;
    text-transform: capitalize;
    }
.ui-tooltip-VC .ui-state-default .ui-tooltip-icon{
    background-position:-2px 0;
    }
.ui-tooltip-VC .ui-tooltip-icon{
    border-color:#8B5742;
    }
.ui-tooltip-VC .ui-tooltip-titlebar .ui-state-hover{
    border-color:#8B5742;
    cursor: default;
    }
    