/*
 * These styles control how the output pane and tabs appear
 */

#output_container {
    width:315px;
    top: 10px;
    position: relative;
    /*border: solid blue;*/
}

#output_tabs {
    height: 99%;
}

#output_tabs .ui-tabs-panel{
    height: 430px;
    overflow: auto;
    padding-right: 0.25em;
}

#tabs-bottom {
	position: relative;
	padding-bottom: 3em;
}
#output_tabs .ui-tabs-nav {
	position: absolute;
	left: 0.25em;
	right: 0.25em;
	bottom: 0.25em;
	padding: 0em 0.2em 0.2em;
}
#output_tabs .ui-tabs-nav li {
	border-top: none;
	border-bottom-width: 1px !important;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}
#output_tabs .ui-tabs-nav li.ui-tabs-selected {
	top: -1px;
}

#console {
    height: 100%;
    overflow-y: scroll;
}

#tabs-output {
    overflow: scroll;
}

#vcs {
    height: 100%;
    background-color: #E8E8E8;
    overflow-y: scroll;
}

#tabs_vcs {
    padding: 0;
}

.vcContainer{
    /*margin: 25px 1px 1px 5px;*/
    background-color: #E8E8E8;
    border: 2px solid;
    border-radius: 5px;
    overflow-y: auto;
}

.vc {
    padding: 0px 0px 10px 0px;
    margin-top: 10px;
    /*max-height: 474px;*/
    border-top: 2px solid lightgray;
}

.vc_info_details ol {
	margin-right: 10px;
}

.vcIndention {
    margin: 10px 10px 10px 20px;
    clear: left;
}

.vc_details_hidden {
    display: none;
}
