<div id="component-finder" title="Component Finder">
    <div id="finder-quickrow">
        <span id ="componentTitle"></span>
        <!--<ul>
            <li><button id="createButton" disabled="disabled">New</button></li>
        </ul>-->
    </div>
    <div id="finder-container">
        <div id="finder">
            <div id="finder-main" class="finder-cell">
                <ul id="component_list">
                    <li id="facilities_list"><a class="component dir context">Facilities</a></li>
                    <li id="concepts_list"><a class="component dir context">Concepts</a></li>
                    #{secure.check 'superuser'}
                    <li id="theories_list"><a class="component dir context">Theories</a></li>
                    #{/secure.check}
                    #{if _userComponents != null}
                    <li id="user_component_list"><a class="component dir context">User</a></li>
                    #{/if}
                </ul>
                <!--<div id="component-list"></div>-->
            </div>
        </div>
    </div>
</div>
