<div id="menu_bar">
    <div id="project_menu">
        <button id="project-selector" class="menu_button">Projects</button>
        <ul id="project_list">
            #{list items:_currentProjects, as:'project' }
                <li class="project hidden">
                    <a href="?p=${project.id}">${project.name}</a>
                </li>
            #{/list}
            #{secure.check 'admin'}
                <li class="hidden"><a href="projects">Project Admin</a></li>
            #{/secure.check}
        </ul>
    </div>
    <div id="component_menu">
        <button id="component-selector" class="menu_button">Components</button>
        #{if _currentUser != null}
            
            <button id="control_import" class="menu_button">Import</button>
            <button id="control_export" class="menu_button">Export</button>
        #{/if}
    </div>
    <!--<div id="help_container" class="menu pane_right"></div>
    <div id="env_menu" class="menu pane_right"></div>-->
</div>

<!--<script type="text/javascript">
    var projects = $("#project_list li");
    setMenuHandlers($("#project_menu li"));
    //projects.click(function(event){
        //event.preventDefault();
        //var id = $(event.currentTarget).attr("data-id");
        //document.location.href = "/?proj="+id;
    //});
    $("#menu_list").css({display:""});
</script>-->