<div id="user_bar">
    <span id="user_greeting">
        Welcome 
        #{if _currentUser != null}
            <!--<button id="control_logout">Logout</button>-->
            <b>${_currentUser.firstName}</b>.
        #{/if}
        #{else}
            <b>User</b>.
        #{/else} 
        #{if _selectedProject != null}
            <!--<button id="control_logout">Logout</button>-->
            Current project: <b>${_selectedProject.name}</b>
        #{/if}
        
    </span>
    <div id="user_controls" class="pane_right">
        #{if _currentUser != null}
            <!--<button id="control_logout">Logout</button>-->
            <a id="logout-link" href="javascript:void(0)" onclick="">Log out</a>
            <script type="text/javascript">
                document.getElementById("logout-link").onclick = function() {logout("@{Secure.logout()}"); return false}
            </script>
        #{/if}
        #{else}
            <a href="@{Registration.index()}">Register</a>
            <a href="@{Secure.login()}">Sign in</a>
        #{/else}
        #{if request.controller == 'Projects'}
        <a href="@{Interface.index()}">Home</a>
        #{/if}
        <a id="help-link" href="javascript:void(0)" onclick="">Help</a>
        <script type="text/javascript">
            document.getElementById("help-link").onclick = function() {genHelp(); return false}
        </script>
        <!--<button id="control_settings">Settings</button>-->
    </div>
    <!--<div id="help_container" class="menu pane_right"></div>
    <div id="env_menu" class="menu pane_right"></div>-->
</div>
