<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'includeStyles' /}
        <script src="@{'/public/javascripts/libraries/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/help.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        
        #{get 'includeScripts' /}
        #{get 'localScripts' /}
        #{get 'localStyles' /}
    </head>
    <body>
        <div id="content">
            #{user_bar currentUser:user, selectedProject:selectedProject/}
            #{doLayout /}
            #{footer /}
        </div>
        <div id="dialog_user_controls" class="hidden"></div>
        <div id="background" class="background"></div>
    </body>
    #{backbone_templates /}
</html>
